{% extends 'index.html' %}

{% load static %}

{% block content%}
<div class="slides">
    <div class="slide" id="about">
        <div class="content second-content">
            <div class="container-fluid">
                <div class="col-md-6">
                    <div class="left-content">
                        <h2>ELLO'DER</h2>
                        <p>I'm a multidisciplinary professional with a passion for turning ideas into reality through code. As a Python developer, I enjoy the art of crafting elegant solutions to complex problems. Whether it's developing web applications or automating tasks, Python is my canvas, and creativity is my brushstroke.</p> 
                        <p>Beyond coding, I'm an avid machine learning enthusiast. Delving into the world of AI and data science, I find joy in unraveling patterns and insights from data. From predictive models to natural language processing, I believe in the power of algorithms to shape a smarter future.</p>
                        <p>With over four years of immersive experience in the realm of 3D artistry, I've shaped immersive virtual realms that blur the line between imagination and reality. My journey in 3D design, which spans architectural visualization to character modeling, is fueled by an eye for detail and a passion for storytelling</p>
                        <p>In essence, I'm a creative technologist—a Python developer, a machine learning explorer, a 3D virtuoso, and a graphic design maestro. This diverse skill set allows me to weave innovation into every project I undertake. I'm excited to collaborate, learn, and bring visions to life in ways that span across code, data, design, and beyond.</p>
                      <div class="main-btn"><a href="{% url 'skills' %}">Read More</a></div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                      <img src="{% static 'img/about_image.png' %}" alt="">
                  </div>
                </div>
            </div>
        </div>
      </div>
</div>

{% endblock %}
