
{% load static %}


<div class="slides">
    <div class="slide" id="works">
        <div class="content fourth-content">
            <div class="container-fluid">
                <div class="row">
                    
                    
                    <div class="col-md-4 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="https://github.com/SasidharPanthagada/Eventz">
                                
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>EVENTZ</h2>
                                            <p>Django Student Web app to keep track of events in UNI.</p>
                                        </div>
                                    </div>
                                
                                </a>
                                <div class="image">
                                    <img src="{% static 'workimg/ez.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="https://github.com/Sasidhar505/Sudoku_Solver">
                                
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>SUDOKU SOLVER</h2>
                                            <p>A augmented sudoku solver using TF , OPENCV .</p>
                                        </div>
                                    </div>
                                
                                </a>
                                <div class="image">
                                    <img src="{% static 'workimg/s9.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="https://github.com/SasidharPanthagada/Hexashop">
                                
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>HEXASHOP</h2>
                                            <p>E-COMM site with DJANGO .</p>
                                        </div>
                                    </div>
                                
                                </a>
                                <div class="image">
                                    <!-- <img src="{% static 'workimg/hs.jpg' %}"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="https://github.com/Sasidhar505/Portfolio">
                                
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>PORTFOLIO</h2>
                                            <p>My personal portfolio deployed with AWS , RDS , EC2 etc .</p>
                                        </div>
                                    </div>
                                
                                </a>
                                <div class="image">
                                    <!-- <img src="{% static 'workimg/pf.jpg' %}"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="https://www.instagram.com/tv/Ca9esj2FPS_/?igshid=MzRlODBiNWFlZA==">
                                
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>DIFFERENT TIMELINE</h2>
                                            <p>Captivating video for the symphony Different Timeline.</p>
                                        </div>
                                    </div>
                                
                                </a>
                                <div class="image">
                                    <!-- <img src="{% static 'workimg/dt.jpg' %}"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="https://www.instagram.com/p/CJBOzTchRJ9/?igshid=MzRlODBiNWFlZA==">
                                
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>HOLIDAZE</h2>
                                            <p>Encompassing spirit of holidays in nostalgic visuals.</p>
                                        </div>
                                    </div>
                                
                                </a>
                                <div class="image">
                                    <!-- <img src="{% static 'workimg/hd.jpg' %}"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="https://www.instagram.com/tv/CFMXeqEhoSX/?igshid=MzRlODBiNWFlZA==">
                                
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>LIGHT WITHIN</h2>
                                            <p>Virtual world with magnificent story boards.</p>
                                        </div>
                                    </div>
                                
                                </a>
                                <div class="image">
                                    <!-- <img src="{% static 'workimg/lw.jpg' %}"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="https://www.instagram.com/p/CErHh1HhD3H/?igshid=MzRlODBiNWFlZA==">
                                
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>KEEP DANCIN'</h2>
                                            <p>Portraying beauty of the mundane .</p>
                                        </div>
                                    </div>
                                
                                </a>
                                <div class="image">
                                    <!-- <img src="{% static 'workimg/db.jpg' %}"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>

