{% extends 'index.html' %}

{% load static %}

{% block content%}
<div class="slides">
    <div class="slide" id="works">
        <div class="content fourth-content">
            <div class="container-fluid">
                <div class="row">
                    {% for work in works %}
                    <div class="col-md-4 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="{{work.proj_link}}">
                                
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>{{work.proj_name}}</h2>
                                            <p>{{work.proj_desp}}</p>
                                        </div>
                                    </div>
                                
                                </a>
                                <div class="image">
                                    <img src="{{work.proj_img.url}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
      </div>
</div>

{% endblock %}
